.all-articles .sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.all-articles .sort .category_list {
    display: flex;
    gap: 24px;
}
.all-articles .sort .category_list .item {
    padding: 8px 0;
    color: var(--Dark-Grey);
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    transition: color .3s ease;
}
.all-articles .sort .category_list .item:hover {
    color: var(--Blue-main-hover);
}
.all-articles .sort .category_list .item.active {
    color: var(--Blue-main);
    border-bottom: 2px solid var(--Blue-main);
}
.all-articles .sort .sort-popup {
    position: relative;
    border-radius: 8px;
    border: 1px solid var(--Grey-outline);
    background: var(--White);
    cursor: pointer;
}
.all-articles .sort .sort-popup .sort-popup_active {
    height: 100%;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--Black);
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.all-articles .sort .sort-popup .sort-popup_active .item {
    font-weight: 600;
}
.all-articles .sort .sort-popup .sort-popup_active span {
    display: flex;
}
.all-articles .sort .sort-popup .sort-popup_active.open span {
    transform: rotate(180deg);
}
.all-articles .sort .sort-popup_list {
    width: 240px;
    position: absolute;
    top: 110%;
    right: 0;
    background: var(--White);
    box-shadow: 0px 4px 25px 0px rgba(168, 182, 194, 0.15);
    border-radius: 16px;
    height: 0;
    overflow: hidden;
}
.all-articles .sort .sort-popup_list.show {
    padding: 12px 0;
    height: auto;
}
.all-articles .sort .sort-popup_list .item {
    padding: 8px 12px;
    color: var(--Black);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.all-articles .sort .sort-popup_list .item:hover {
    background: var(--blue-main-opacity-10);
}
.all-articles .sort .sort-popup_list .item.active {
    background: var(--Blue-main);
    color: var(--White);
    font-weight: 600;
}

.all-articles .wrapper {
    margin-top: 44px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 30px;
    row-gap: 34px;
}
.button_look-more {
    width: 280px;
    padding: 12px 20px;
    margin: 0 auto;
    margin-top: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 44px;
    background: var(--Blue-main);
    color: var(--White);
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    transition: opacity .3s ease-in-out;
}
.button_look-more:hover {
    opacity: 0.9;
}

/* АДАПТИВ */
@media screen and (max-width: 1280px) {
    .blog_card {
        width: 100%;
    }
}

@media screen and (max-width: 1100px) {
    .all-articles .sort {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
    .all-articles .sort .category_list {
        width: 690px;
        overflow: auto;
    }
    .all-articles .sort .sort-popup_list {
        left: 50%;
        right: unset;
        transform: translateX(-50%);
    }
    .all-articles .sort .sort-popup_one {
        display: none;
    }
    .all-articles .wrapper {
        gap: 24px;
    }
    .blog_card .content .description .name {
        font-size: 16px;
        line-height: 22px;
    }
    .blog_card .content .description .text {
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 760px) {
    .all-articles .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    .all-articles .sort .category {
        width: 100%;
        overflow: auto;
    }
    .all-articles .wrapper {
        margin-top: 24px;
    }
    .button_look-more {
        margin-top: 24px;
    }
    .all-articles .inner {
        padding-top: 0;
    }
}

@media screen and (max-width: 680px) {
    .all-articles .sort {
        align-items: center;
    }
    .all-articles .wrapper {
        gap: 16px;
    }
    .all-articles .sort .sort-popup_list.show {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .all-articles .wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .button_look-more {
        padding: 14px 20px;
        width: 100%;
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (max-width: 380px) {
    .all-articles .sort .sort-popup .sort-popup_active, .all-articles .sort .sort-popup_list .item {
        font-size: 12px;
        line-height: 14px;
    }
    .all-articles .sort .category_list .item {
        font-size: 14px;
        line-height: 18px;
    }
}