.questions .wrapper {
    display: flex;
}

.questions .questions_left {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.questions .questions_left .description {
    width: 580px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.questions .questions_left .description .title {
    text-align: start;
}
.questions .questions_left .description p {
    color: var(--Dark-Grey);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.questions .button {
    width: 280px;
    padding: 16px;
    border-radius: 44px;
    border: 1px solid var(--Blue-main);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.questions .button button {
    color: var(--Blue-main);
    font-size: 18px;
    font-family: var(--main-font);
    font-weight: 600;
    line-height: normal;
    transition: .3s ease;
}
.questions .button:hover {
    background: var(--Blue-main);
}
.questions .button:hover button {
    color: var(--White);
}

.questions .questions_accordion {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.questions .questions_accordion .card {
    padding: 22px;
    border-radius: 16px;
    background: var(--Lightest-grey);
    overflow: hidden;
    height: auto;
    cursor: pointer;
    transition: background .3s ease-in-out;
}
.questions .questions_accordion .card:hover {
    background: var(--Light-outline);
}
.questions .questions_accordion .card .name {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--Black);
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}
.questions .questions_accordion .card.active svg {
    transform: rotate(-90deg);
    transition: .3s;
}
.questions .questions_accordion .card .description {
    height: 0px;
    transition: all .2s ease-in-out;
    overflow: hidden;
    cursor: default;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.questions .button-bottom {
    display: none;
}

@media screen and (max-width: 1220px) {
    .questions .questions_left .description {
        width: 460px;
    }
}

@media screen and (max-width: 1080px) {
    .questions .questions_left .description {
        width: 380px;
    }
    .questions .questions_left .description p {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }
    .questions .button {
        height: 44px;
    }
    .questions .button button {
        font-size: 16px;
    }
    
}

@media screen and (max-width: 820px) {
    .questions .wrapper {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
    .questions .questions_left, .questions .questions_left .description {
        width: 100%;
        align-items: center;
        gap: 12px;
    }
    .questions .questions_left .description p {
        text-align: center;
    }
    .questions .questions_left .button {
        display: none;
    }
    .questions .button-bottom {
        display: flex;
    }
}

@media screen and (max-width: 699px) {
    .questions .questions_left .description {
        width: 100%;
    }
    .questions .questions_accordion .card {
        padding: 16px;
    }
    .questions .questions_accordion .card .name {
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
    }
    .questions .button-bottom {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .questions .questions_accordion {
        gap: 8px;
    }
}