.reviews-page .inner {
    position: relative;
    overflow: hidden;
}
.reviews-page .wrapper {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.reviews-page .wrapper .card {
    border-radius: 34px;
    background: var(--Lightest-grey);
}
.reviews-page .wrapper .card-inner {
    padding: 22px;
    display: flex;
    align-items: center;
    gap: 22px;
}
.reviews-page .wrapper .card .reviews-img {
    min-width: 160px;
    height: 220px;
    border-radius: 16px;
    background: var(--Grey-outline);
}
.reviews-page .wrapper .card .block-inf {
    display: flex;
    flex-direction: column;
}
.reviews-page .wrapper .card .description .head-reviews {
    display: flex;
    align-items: center;
    gap: 12px;
}
.reviews-page .wrapper .card .description .head-reviews .icon {
    width: 54px;
    height: 54px;
    border-radius: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reviews-page .wrapper .card .description .head-reviews .icon.purple {
    background: var(--Purple);
}
.reviews-page .wrapper .card .description .head-reviews .icon.green {
    background: var(--Green);
}
.reviews-page .wrapper .card .description .head-reviews .icon.black {
    background: var(--Black);
}
.reviews-page .wrapper .card .description .head-reviews .icon.blue {
    background: var(--Blue-main);
}
.reviews-page .wrapper .card .description .head-reviews .name {
    color: var(--Black);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}
.reviews-page .wrapper .card .description .head-reviews .from {
    margin-top: 4px;
    color: var(--Dark-Grey);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.reviews-page .wrapper .card .description .text {
    margin-top: 16px;
    color: var(--Black);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}
.reviews-page .reviews_dots {
    position: absolute;
    bottom: 0;
    display: none;
}
.dots li.reviews-page_dots-active {
    width: 34px;
    background: var(--Blue-main);
}

.send-reviews .block-title svg {
    width: 180px;
}

/* АДАПТИВ */
@media screen and (max-width: 1280px) {
    .reviews-page .wrapper {
        margin-top: 32px;
    }
}
@media screen and (max-width: 780px) {
    .reviews-page .wrapper .card .reviews-img {
        display: none;
    }
}
@media screen and (max-width: 680px) {
    .reviews-page .wrapper {
        margin-top: 24px;
        flex-direction: row;
        /* overflow: hidden; */
        transition: .3s ease-out;
    }
    .reviews-page .wrapper .card {
        width: 290px;
        border-radius: 24px;
    }
    .reviews-page .wrapper .card-inner {
        padding: 24px 16px;
    }
    .reviews-page .wrapper .card .description .head-reviews .icon {
        width: 44px;
        height: 44px;
    }
    .reviews-page .wrapper .card .description .head-reviews .icon svg {
        width: 24px;
        height: 24px;
    }
    .reviews-page .wrapper .card .description .head-reviews .block-inf {
        width: 200px;
    }
    .reviews-page .wrapper .card .description .head-reviews .name {
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
    }
    .reviews-page .wrapper .card .description .head-reviews .from {
        margin-top: 0;
        font-size: 12px;
        font-weight: 400;
        line-height: 13px;
    }
    .reviews-page .reviews_dots {
        display: flex;
    }
}
@media screen and (max-width: 480px) {
    .reviews-page .wrapper .card {
        width: 280px;
    }
}