:root {
    /* ЦВЕТА */
    --background-page: #FFFFFF;
    --White: #FFF;
    --Light-outline: #EEF0F4;
    --Light-outline: #EEF0F4;
    --Lightest-grey: #F9F9F9;
    --Grey-outline: #E6E8ED;
    --Grey-light: #C9CED7;
    --white-opacity-70: rgba(255, 255, 255, 0.70);
    --white-opacity-40: rgba(255, 255, 255, 0.40);
    --opacity-30-white: rgba(255, 255, 255, 0.30);
    --Light-grey: #98A0AD;
    --Text: #7E818E;
    --white-opacity-10: rgba(255, 255, 255, 0.10);
    --Black: #313545;
    --Dark-Grey: #3D4046;
    --Blue-main: #054DB4;
    --Blue-main-hover: #0E5AC6;
    --blue-main-opacity-10: rgba(5, 77, 180, 0.10);
    --Green: #00A28E;
    --green-opacity-10: rgba(0, 162, 142, 0.10);
    --Purple: #5B59DE;
    --purple-opacity-10: rgba(91, 89, 222, 0.10);

    /* ШРИФТЫ */
    --main-font: 'Manrope', sans-serif;
    --title-font: 'Days One', sans-serif;
}