.basic-services .inner {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.basic-services_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.basic-services_title h2 {
    color: var(--Black,);
    text-align: center;
    font-size: 58px;
    font-weight: 600;
    line-height: 64px;
}
.basic-services_title p {
    max-width: 1010px;
    color: var(--Dark-Grey);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
} 
.basic-services .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.basic-services .wrapper .big-card {
    height: 726px;
    border-radius: 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: .3s;
}
.basic-services .wrapper .big-card:hover {
    box-shadow: 0px 10px 20px 0px rgba(191, 191, 191, 0.55);
}
.basic-services .wrapper .big-card .description {
    padding: 34px 54px 54px 54px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.basic-services .wrapper .big-card .description h3 {
    color: var(--White);
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
}
.basic-services .wrapper .big-card .description p {
    margin-top: 12px;
    color: var(--white-opacity-70);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.basic-services .big-card_line svg {
    position: absolute;
}


.basic-services .wrapper .big-card-one {
    grid-column: 1 / 2 span;
    grid-row: 1 / 2 span;
    background: var(--Blue-main);
}
.basic-services .wrapper .big-card-two {
    grid-column: 3 / 2 span;
    grid-row: 3 / 2 span;
    background: var(--Green);
}
.basic-services .wrapper .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 34px;
    background: var(--Lightest-grey);
    cursor: pointer;
    transition: .3s;
}
.basic-services .wrapper .card:hover {
    box-shadow: 0px 10px 20px 0px rgba(191, 191, 191, 0.35);
}
.basic-services .wrapper .card .description {
    padding: 0px 20px 20px 20px;
}
.basic-services .wrapper .card .description h3 {
    color: var(--Black);
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}
.basic-services .wrapper .card .description p {
    margin-top: 8px;
    color: var(--Dark-Grey);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

/* scheme */
/* ЛИНИИ */
.basic-services .big-card_line.line-top svg {
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.basic-services .big-card_line.line-bottom svg {
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.basic-services .big-card_line.line-left svg {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.basic-services .big-card_line.line-right svg {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.big-card_scheme {
    padding: 54px 54px 0px;
    width: 541px;
    height: 370px;
}
.big-card_scheme .scheme_inner {
    height: 100%;
    position: relative;
}
.big-card-one .big-card_scheme .scheme_inner .scheme-item {
    background: var(--Blue-main);
    box-shadow: 0 0 0px 14px var(--Blue-main);
}
.big-card-two .big-card_scheme .scheme_inner .scheme-item {
    background: var(--Green);
    box-shadow: 0 0 0px 14px var(--Green);
}
.big-card_scheme .scheme_inner .scheme-item {
    width: 26px;
    height: 26px;
    border-radius: 6px;
    border: 2px solid var(--opacity-30-white);
    position: absolute;
}
.big-card_scheme .scheme_inner .scheme-item1 {
    top: -13px;
    left: -13px;
}
.big-card_scheme .scheme_inner .scheme-item2 {
    top: -13px;
    right: -13px;
}
.big-card_scheme .scheme_inner .scheme-item3 {
    bottom: -13px;
    left: -13px;
}
.big-card_scheme .scheme_inner .scheme-item4 {
    bottom: -13px;
    right: -13px;
}
.big-card_scheme .scheme_inner .block-scheme-2 {
    padding: 0 34px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.big-card_scheme .scheme_inner .block-scheme .action-small {
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    background: var(--white-opacity-10);
}
.big-card_scheme .scheme_inner .block-scheme .action-big {
    width: 178px;
    height: 178px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
}
.big-card-one, .big-card-two .scheme_inner .block-scheme .action-small, .action-big {
    background: var(--white-opacity-10);
}
.big-card-one .scheme .block-scheme {
    width: 100%;
    height: 100%;
    position: relative;
}
.block-scheme-docs {
    padding: 0 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.block-scheme_prog-docs {
    display: flex;
    justify-content: center;
    align-items: center;
}
.big-card_scheme .scheme_big-card-two {
    position: relative;
}
.scheme_big-card-two .action-big {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}
.scheme_big-card-two .action-cardTwo-1 {
    position: absolute;
    top: 120px;
    left: 36px;
}
.scheme_big-card-two .action-cardTwo-2 {
    position: absolute;
    bottom: 68px;
    left: 92px;
}
.scheme_big-card-two .action-cardTwo-3 {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}
.scheme_big-card-two .action-cardTwo-4 {
    position: absolute;
    bottom: 68px;
    right: 92px;
}
.scheme_big-card-two .action-cardTwo-5 {
    position: absolute;
    top: 120px;
    right: 36px;
}
.scheme_big-card-two .lineCenter {
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
}
.scheme_big-card-two .lineCenter2 {
    position: absolute;
    bottom: 104px;
    left: 50%;
    transform: translateX(-50%);
}
.scheme_big-card-two .lineLeft {
    position: absolute;
    top: 140px;
    left: 130px;
}
.scheme_big-card-two .lineRight {
    position: absolute;
    top: 140px;
    right: 130px;
}
.basic-services .dots {
    display: none;
}

/* АДАПТИВ */
@media screen and (max-width: 1385px) {
    .basic-services .wrapper .card {
        width: 280px;
    }
    .basic-services .wrapper {
        gap: 24px;
    }
    .basic-services .wrapper .card, .big-card {
        gap: 16px;
    }
    /* МАЛЕНЬКИЕ КАРТОЧКИ */
    .basic-services .wrapper .card .description {
        padding: 0px 16px 24px 16px
    }
    .basic-services .scheme {
        padding: 20px 20px 0;
        width: 208px;
        height: 104px;
    }
    .basic-services .scheme .block-scheme .action-small {
        width: 42px;
        height: 42px;
        border-radius: 42px;
    }
    .basic-services .scheme .block-scheme .action-small svg {
        width: 18px;
        height: 18px;
    }
    .basic-services .scheme .block-scheme .action-big {
        width: 70px;
        height: 70px;
    }
    .basic-services .scheme .block-scheme .action-big svg {
        width: 34px;
        height: 34px;
    }
    .basic-services .scheme .block-scheme-3 .line1 {
        top: 50%;
        left: 35px;
        transform: translateY(-50%);
        position: absolute;
    }
    .basic-services .scheme .block-scheme-3 .lineT {
        top: 22px;
        left: 115px;
        position: absolute;
    }
    .basic-services .scheme .block-scheme-3 .lineB {
        bottom: 22px;
        left: 115px;
        position: absolute;
    }
    /*  */
    .basic-services .scheme .scheme_inner .scheme-item {
        width: 9px;
        height: 9px;
        border-radius: 2px;
        border: 1px solid var(--Grey-light);
    }
    .scheme .block-scheme-4 .lineL {
        left: 10px;
    }
    .scheme .block-scheme-4 .lineR {
        right: 10px;
    }
    /*  */
    .basic-services .scheme .block-scheme-6 .action-stateFire {
        top: -6px;
    }
    .basic-services .scheme .block-scheme-6 .action-apple {
        top: -6px;
    }
    .basic-services .scheme .block-scheme-6 .action-cloth {
        bottom: -8px;
    }
    .basic-services .scheme .block-scheme-6 .action-computer {
        bottom: -8px;
    }
    .basic-services .scheme .block-scheme-6 .lineL {
        left: 32px;
    }
    .basic-services .scheme .block-scheme-6 .lineR {
        right: 32px;
    }
    /*  */
    .basic-services .scheme .scheme_inner {
        height: 104px;
    }
    .block-scheme-docs {
        padding: 0 23px;
    }
    /*  */
    .basic-services .scheme .block-scheme-5 .line1 {
        right: 35px;
    }
    .basic-services .scheme .block-scheme-5 .lineT {
        top: 25px;
        left: 65px;
    }
    .basic-services .scheme .block-scheme-5 .action-briefcase {
        top: 3px;
        left: 100px;
    }
    .basic-services .scheme .block-scheme-5 .lineB {
        bottom: 25px;
        left: 65px;
    }
    .basic-services .scheme .block-scheme-5 .action-home {
        bottom: 3px;
        left: 100px;
    }
}
@media screen and (max-width: 1279px) {
    .basic-services .big-card_line.line-top svg {
        width: 180px;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
    }
    .basic-services .big-card_line.line-bottom svg {
        width: 180px;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
    }
    .basic-services .big-card_line.line-left svg {
        height: 80px;
        left: 1px;
        top: 50%;
        transform: translateY(-50%);
    }
    .basic-services .big-card_line.line-right svg {
        height: 80px;
        right: 1px;
        top: 50%;
        transform: translateY(-50%);
    }

    .basic-services .wrapper .big-card-one {
        grid-column: 1;
        grid-row: 1 ;
        background: var(--Blue-main);
    }
    .basic-services .wrapper .big-card-two {
        grid-column: 2;
        grid-row: 3;
        background: var(--Green);
    }
    .basic-services .wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-template-rows: repeat(3, 1fr);
    }
    .basic-services .wrapper .big-card {
        width: 100%;
        height: auto;
    }
    .basic-services .wrapper .card {
        width: 100%;
    }
    .big-card_scheme {
        padding: 20px 20px 0;
        width: 208px;
        height: 104px;
    }
    .big-card_scheme .scheme_inner {
        height: 104px;
    }
    .basic-services .wrapper .big-card .description {
        padding: 0px 16px 24px 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .big-card_scheme .scheme_inner .block-scheme .action-big {
        width: 72px;
        height: 72px;
        border-radius: 69px;
    }
    .big-card_scheme .scheme_inner .block-scheme .action-big svg{
        width: 38px;
        height: 38px;
    }
    .big-card_scheme .scheme_inner .block-scheme-2 {
        padding: 0 14px;
    }
    .big-card_scheme .scheme_inner .block-scheme .action-small {
        width: 42px;
        height: 42px;
        border-radius: 69px;
    }
    .big-card_scheme .scheme_inner .block-scheme .action-small svg{
        width: 18px;
        height: 18px;
    }
    .big-card_scheme .scheme_inner .scheme-item {
        width: 9px;
        height: 9px;
        border-radius: 2px;
        border: 1px solid var(--opacity-30-white);
        position: absolute;
    }
    .big-card-one .big-card_scheme .scheme_inner .scheme-item {
        box-shadow: 0 0 0px 3px var(--Blue-main);
    }
    .big-card_scheme .scheme_inner .scheme-item1 {
        top: -3px;
        left: -3px;
    }
    .big-card_scheme .scheme_inner .scheme-item2 {
        top: -3px;
        right: -3px;
    }
    .big-card_scheme .scheme_inner .scheme-item3 {
        bottom: -3px;
        left: -3px;
    }
    .big-card_scheme .scheme_inner .scheme-item4 {
        bottom: -3px;
        right: -3px;
    }
    .big-card-two .big-card_scheme .scheme_inner .scheme-item {
        box-shadow: 0 0 0px 3px var(--Green);
    }
    .big-card-two .big-card_scheme .scheme_inner .block-scheme .action-big {
        width: 53px;
        height: 53px;
    }
    .big-card-two .big-card_scheme .scheme_inner .block-scheme .action-big svg {
        width: 28px;
        height: 28px;
    }
    .scheme_big-card-two .action-big {
        top: 8px;
    }
    .big-card-two .big-card_scheme .scheme_inner .block-scheme .action-small {
        width: 28px;
        height: 28px;
    }
    .big-card-two .big-card_scheme .scheme_inner .block-scheme .action-small svg {
        width: 14px;
        height: 14px;
    }
    .scheme_big-card-two .action-cardTwo-1 {
        top: 28px;
        left: 20px;
    }
    .scheme_big-card-two .action-cardTwo-2 {
        bottom: 12px;
        left: 45px;
    }
    .scheme_big-card-two .action-cardTwo-3 {
        bottom: 2px;
        left: 50%;
        transform: translateX(-50%);
    }
    .scheme_big-card-two .action-cardTwo-4 {
        bottom: 12px;
        right: 45px;
    }
    .scheme_big-card-two .action-cardTwo-5 {
        top: 28px;
        right: 20px;
    }
    .scheme_big-card-two .lineCenter {
        height: 16px;
        bottom: 38px;
        left: 50%;
        transform: translateX(-50%);
    }
    .scheme_big-card-two .lineCenter2 {
        height: 22px;
        bottom: 20px;
    }
    .scheme_big-card-two .lineRight {
        width: 25px;
        top: 30px;
        right: 50px;
    }
    .scheme_big-card-two .lineLeft {
        width: 25px;
        top: 30px;
        left: 50px;
    }
    .basic-services .wrapper .card .description  h4, .basic-services .wrapper .big-card .description h4 {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
    }
    .basic-services .wrapper .card .description p, .basic-services .wrapper .big-card .description p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .basic-services_title p {
        max-width: 600px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}

@media screen and (max-width: 760px) {
    .basic-services .container {
        padding-right: 0;
    }
    .basic-services .inner {
        gap: 24px;
        overflow: hidden;
        position: relative;
        height: 712px;
        box-sizing: border-box;
    }
    .basic-services .wrapper {
        position: absolute;
        bottom: 126px;
        left: 0;
        transition: .3s;
    }
    .basic-services .dots{
        position: absolute;
        bottom: 80px;
        left: 0;
        display: flex;
        justify-content: center;
    }
    .dots li {
        width: 17px;
        height: 6px;
        background: var(--Light-outline);
        margin: 8px;
        border-radius: 20px;
        transition: 0.5s;
    }
    .dots li.dots-item_active{
        width: 34px;
        background: var(--Blue-main);
    }
    .basic-services_title {
        padding-right: 16px;
    }
    .basic-services_title h2 {
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
    }
    .basic-services_title p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    } 
    .basic-services .wrapper {
        display: flex;
        gap: 16px;
    }
    .basic-services .wrapper .big-card {
        width: 240px;
        height: 300px;
       justify-content: space-between;
    }
    .basic-services .wrapper .card .description  h4, .basic-services .wrapper .big-card .description h4 {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
    }
    .basic-services .wrapper .card .description p, .basic-services .wrapper .big-card .description p {
        margin-top: 8px;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
    }
    .basic-services .big-card_line.line-top svg {
        top: 1px;
    }
    .basic-services .big-card_line.line-bottom svg {
        bottom: 1px;
    }
    .basic-services .big-card_line.line-left svg {
        left: 1px;
    }
    .basic-services .big-card_line.line-right svg {
        right: 1px;
    }
    .big-card_scheme {
        padding: 20px 20px 0;
        width: 208px;
        height: 104px;
    }
    .big-card_scheme .scheme_inner {
        height: 104px;
    }
    .basic-services .wrapper .big-card .description {
        padding: 0px 16px 24px 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .big-card_scheme .scheme_inner .block-scheme .action-big {
        width: 62px;
        height: 62px;
        border-radius: 69px;
    }
    .big-card_scheme .scheme_inner .block-scheme .action-big svg{
        width: 30px;
        height: 30px;
    }
    .big-card_scheme .scheme_inner .block-scheme-2 {
        padding: 0 14px;
    }
    .big-card_scheme .scheme_inner .block-scheme .action-small {
        width: 32px;
        height: 32px;
        border-radius: 69px;
    }
    .big-card_scheme .scheme_inner .block-scheme .action-small svg{
        width: 15px;
        height: 15px;
    }
    .big-card_scheme .scheme_inner .scheme-item {
        width: 9px;
        height: 9px;
        border-radius: 2px;
        border: 1px solid var(--opacity-30-white);
        position: absolute;
    }
    .big-card-one .big-card_scheme .scheme_inner .scheme-item {
        box-shadow: 0 0 0px 3px var(--Blue-main);
    }
    .big-card_scheme .scheme_inner .scheme-item1 {
        top: -3px;
        left: -3px;
    }
    .big-card_scheme .scheme_inner .scheme-item2 {
        top: -3px;
        right: -3px;
    }
    .big-card_scheme .scheme_inner .scheme-item3 {
        bottom: -3px;
        left: -3px;
    }
    .big-card_scheme .scheme_inner .scheme-item4 {
        bottom: -3px;
        right: -3px;
    }
    .big-card-two .big-card_scheme .scheme_inner .scheme-item {
        box-shadow: 0 0 0px 3px var(--Green);
    }
    .big-card-two .big-card_scheme .scheme_inner .block-scheme .action-big {
        width: 43px;
        height: 43px;
    }
    .big-card-two .big-card_scheme .scheme_inner .block-scheme .action-big svg {
        width: 21px;
        height: 21px;
    }
    .scheme_big-card-two .action-big {
        top: 8px;
    }
    .big-card-two .big-card_scheme .scheme_inner .block-scheme .action-small {
        width: 21px;
        height: 21px;
    }
    .big-card-two .big-card_scheme .scheme_inner .block-scheme .action-small svg {
        width: 10px;
        height: 10px;
    }
    .scheme_big-card-two .action-cardTwo-1 {
        top: 29px;
        left: 34px;
    }
    .scheme_big-card-two .action-cardTwo-2 {
        bottom: 20px;
        left: 50px;
    }
    .scheme_big-card-two .action-cardTwo-3 {
        bottom: 9px;
        left: 50%;
        transform: translateX(-50%);
    }
    .scheme_big-card-two .action-cardTwo-4 {
        bottom: 20px;
        right: 50px;
    }
    .scheme_big-card-two .action-cardTwo-5 {
        top: 29px;
        right: 34px;
    }
    .scheme_big-card-two .lineCenter {
        height: 16px;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
    }
    .scheme_big-card-two .lineCenter2 {
        height: 22px;
        bottom: 30px;
    }
    .scheme_big-card-two .lineRight {
        width: 25px;
        top: 30px;
        right: 55px;
    }
    .scheme_big-card-two .lineLeft {
        width: 25px;
        top: 30px;
        left: 55px;
    }

    /* МАЛЕНЬКИЕ КАРТОЧКИ */
    .basic-services .wrapper .card {
        width: 240px;
        height: 300px;
        gap: 24px;
    }
    .basic-services .wrapper .card .description {
        padding: 0px 16px 24px 16px
    }
    .basic-services .scheme {
        padding: 20px 20px 0;
        width: 208px;
        height: 104px;
    }
    .basic-services .scheme .block-scheme .action-small {
        width: 37px;
        height: 37px;
        border-radius: 37px;
    }
    .basic-services .scheme .block-scheme .action-small svg {
        width: 18px;
        height: 18px;
    }
    .basic-services .scheme .block-scheme .action-big {
        width: 67px;
        height: 67px;
    }
}

@media screen and (max-width: 480px) {
    .basic-services_title p span {
        display: none;
    }
    .basic-services_title p {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }
    .basic-services .inner {
        padding:  44px 0;
        height: 590px;
    }
}