.blog .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog .wrapper {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.blog_card {
    border-radius: 34px;
    background: var(--Lightest-grey);
}
.blog_card .card-img {
    border-radius: 34px 34px 0px 0px;
}
.blog_card .content {
    padding: 16px 24px 34px 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    cursor: pointer;
}

.blog_card .content .description .name {
    color: var(--Black);
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}
.blog_card .content .description .text {
    height: 56px;
    margin-top: 8px;
    overflow: hidden;
    color: var(--Dark-Grey);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.blog_card .content .description .bottom {
    margin-top: 8px;
    display: none;
    gap: 12px;
    color: var(--Text);

    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.blog .button {
    margin-top: 34px;
    width: 280px;
}

/* АДАПТИВ */
@media screen and (max-width: 1360px) {
    .blog .wrapper{
        margin-top: 44px;
    }
    .blog_card img {
        width: 100%;
    }
    .blog_card {
        width: 380px;
    }
    .blog_card .content {
        padding: 14px 18px 28px 18px;
    }
    .blog_card .content .description .bottom {
        display: flex;
    }
    .blog_card .content .head p {
        display: none;
    }
}
@media screen and (max-width: 1260px) {
    .blog_card {
        width: 320px;
    }
    .blog .wrapper{
        margin-top: 34px;
    }
}
@media screen and (max-width: 1045px) {
    .blog .wrapper {
        gap: 16px;
    }
    .blog_card .content {
        padding: 10px 16px 24px 16px;
    }
    .blog_card {
        width: 260px;
    }
}
@media screen and (max-width: 820px) {
    .blog .wrapper{
        margin-top: 34px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .blog_card img {
        width: 100%;
    }
    .blog_card {
        width: 280px;
    }
    .blog_card .content .head .category {
        padding: 1px 8px;
        font-size: 12px;
        line-height: 18px;
    }
    .blog_card .content {
        gap: 8px;
    }
    .blog_card .content .description .name {
        font-size: 16px;
        font-weight: 600;
        line-height: 18px;
    }
    .blog_card .content .description .text {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
    }
    .blog .button {
        margin-top: 24px;
    }
    .button-look button {
        font-size: 16px;
        font-weight: 600;
    }
    .blog .button {
        font-size: 14px;
        line-height: 16px;
    }
}
@media screen and (max-width: 500px) {
    .blog .wrapper{
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .blog .button {
        width: 100%;
    }
}