.article .article_wrapper, .consultations .article_wrapper{
    display: flex;
    justify-content: space-between;
}

.article .article_wrapper .description {
    max-width: 875px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.article .article_wrapper .name {
    color: var(--Black);
    font-family: var(--main-font);
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}
.article .card .text {
    margin-top: 12px;
    color: var(--Black);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

/*  */
.consultations .card .block-whom {
    margin-top: 24px;
    display: flex;
    gap: 48px;
}
.consultations .card .block-whom .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.consultations .card .block-whom .item_description {
    text-align: center;
}

.consultations .card .block-whom .item_description .item-name {
    color: var(--Black);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}
.consultations .card .block-whom .item_description .item-text {
    color: var(--Black);
    font-family: var(--main-font);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
/*  */

.article .block-content, .article .content {
    width: 326px;
}
.article .block-content_top {
    display: none;
    max-width: 380px;
}
.article .block-content .content h4 {
    margin-left: 16px;
    color: var(--Black);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}
.article .block-content .content .content-list {
    margin-top: 10px;
}
.article .block-content .content .content-list .item {
    padding: 12px 16px;
    color: var(--Black);
    font-family: var(--main-font);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    cursor: pointer;
    transition: background .3s ease;
}
.article .block-content .content .content-list .item:hover {
    border-radius: 16px;
    background: var(--Lightest-grey, #F9F9F9);
}
.article .block-content .content .content-list .item.active {
    border-radius: 16px;
    background: var(--Lightest-grey, #F9F9F9);
    font-weight: 600;
}

.article .block-content_top h4 {
    margin-left: 16px;
    color: var(--Black);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}
.article .block-content_top .content-list {
    margin-top: 10px;
}
.article .block-content_top .content-list .item {
    padding: 12px 16px;
    color: var(--Black);
    font-family: var(--main-font);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    cursor: pointer;
    transition: background .3s ease;
}
.article .block-content_top .content-list .item:hover {
    border-radius: 16px;
    background: var(--Lightest-grey, #F9F9F9);
}
.article .block-content_top .content-list .item.active {
    border-radius: 16px;
    background: var(--Lightest-grey, #F9F9F9);
    font-weight: 600;
}

.article .line {
    margin-top: 44px;
    width: 100%;
    height: 1px;
    background: var(--Light-outline);
}

.consultations .block-content .record {
    margin-top: 44px;
}
.consultations .block-content .record .specialist {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.consultations .block-content .record .specialist .info {
    display: flex;
    flex-direction: column;
}
.consultations .block-content .record .specialist .info p {
    color: var(--Black);
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}
.consultations .block-content .record .specialist .info span {
    color: var(--Dark-Grey);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.consultations .block-content form {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.consultations .block-content form .input-group label {
    color: var(--Black);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}
.consultations .block-content form .input-wrapper {
    padding: 0 12px;
    gap: 12px;
    border-radius: 8px;
    border: 1px solid var(--Light-outline);
}
.consultations .block-content form .input-wrapper input {
    padding: 8px 0;
    width: 100%;
    color: var(--Dark-Grey);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.consultations .block-content form .input-wrapper input::placeholder {
    color: var(--Light-grey);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.consultations .block-content form .checkbox-group {
    display: flex;
    align-items: center;
    gap: 8px;
}
.consultations .block-content form .checkbox-group label {
    color: var(--Black);
    font-family: var(--main-font);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.consultations .block-content form button {
    padding: 8px 16px;
    border-radius: 44px;
    background: var(--Blue-main);
    color: var(--White);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    transition: opacity .3s ease-in-out;
}
.consultations .block-content form button:hover {
    opacity: 0.9;
}

.consultations .authentication-document {
    margin-top: 44px;
}
.consultations .authentication-document .name {
    line-height: 32px;
}
.consultations .authentication-document p {
    margin-top: 8px;
    color: var(--Dark-Grey);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.consultations .authentication-document .button {
    margin-top: 16px;
    padding: 8px 16px;
    border-radius: 44px;
    background: var(--Lightest-grey);
    justify-content: center;
    color: var(--Blue-main);
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: .3s ease-in-out;
}
.consultations .authentication-document .button:hover {
    background: var(--Blue-main);
    color: var(--White);
}

.consultations_documents {
    margin-top: 44px;
}
.consultations_documents-list {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.consultations_documents-list_item {
    display: flex;
    align-items: center;
    gap: 12px;

    color: var(--Black);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}
.consultations_documents-list_item span {
    display: flex;
}

/* АДАПТИВ */
@media screen and (max-width: 1280px) {
    .article .article_wrapper .description {
        max-width: 700px;
    }
    .consultations .card .block-whom .item {
        max-width: 350px;
    }
    .consultations .card .block-whom {
        flex-wrap: wrap;
    }
    .consultations .card .block-whom .item {
        width: 300px;
    }
}
@media screen and (max-width: 1100px) {
    .article .article_wrapper .description {
        max-width: 550px;
    }
}
@media screen and (max-width: 980px) {
    .article .article_wrapper .description {
        max-width: 500px;
    }
}
@media screen and (max-width: 880px) {
    .article .article_wrapper {
        flex-direction: column;
    }
    .article .article_wrapper .description {
        max-width: 100%;
    }
    .article .article_wrapper .description .card .name {
        font-size: 22px;
        font-weight: 700;
        line-height: 28px;
    }
    .article .article_wrapper .description {
        gap: 32px;
    }
    .consultations .card .block-whom {
        gap: 18px;
        justify-content: center;
    }
    .article .block-content_top {
        display: block;
    }
    .article .block-content_bottom {
        display: none;
    }
    .article .line {
        margin-top: 34px;
    }
    .consultations .block-content .record {
        max-width: 500px;
        margin-top: 34px;
    }
    .article .block-content {
        width: 100%;
    }
    .consultations .authentication-document {
        margin-top: 34px;
        max-width: 500px;
    }
    .consultations_documents {
        margin-top: 34px;
    }
}

@media screen and (max-width: 680px) {
    .button-reviews {
        margin-top: 84px;
    }
}

@media screen and (max-width: 560px) {
    .consultations .block-content .record, .consultations .authentication-document {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .article .article_wrapper {
        flex-direction: column;
    }
    .article .article_wrapper .description .card .name {
        font-size: 22px;
        font-weight: 700;
        line-height: 28px;
    }
    .article .article_wrapper .description {
        gap: 24px;
    }
    .consultations .card .block-whom {
        gap: 12px;
        justify-content: start;
    }
}