.documents .wrapper {
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.documents .wrapper .card {
    max-width: 629px;
    display: flex;
    border-radius: 34px;
    background: var(--White);
    box-shadow: 0px 4px 25px 0px rgba(168, 182, 194, 0.15);
}
.documents .wrapper .card .description {
    padding: 24px;
}
.documents .wrapper .card .description h4 {
    color: var(--Black);
    font-family: var(--main-font);
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}
.documents .wrapper .card .description p {
    margin-top: 4px;
    color: var(--Dark-Grey);
    font-family: var(--main-font);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}
.documents .wrapper .card .description .whom-list {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 32px;
}
.documents .wrapper .card .description .whom-list .item {
    display: flex;
    align-items: center;
    gap: 8px;

    color: var(--Black);
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}
.documents .wrapper .card .description .whom-list .item span {
    display: flex;
}
.documents-dots {
    display: none;
}

/* АДАПТИВ */
@media screen and (max-width: 1335px) {
    .documents .wrapper {
        justify-content: space-between;
    }
    .documents .wrapper .card {
        width: 550px;
        align-items: center;
    }
}
@media screen and (max-width: 1280px) {
    .documents .wrapper {
        margin-top: 32px;
    }
}
@media screen and (max-width: 1180px) {
    .documents .wrapper {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .documents .wrapper .card {
        width: 100%;
    }
}
@media screen and (max-width: 760px) {
    .documents .inner {
        gap: 24px;
        overflow: hidden;
        position: relative;
        height: 670px;
        box-sizing: border-box;
    }
    .documents .wrapper {
        margin-top: 24px;
        flex-direction: row;
        position: absolute;
        bottom: 60px;
        left: 0;
        transition: .3s;
    }
    .documents .wrapper {
        flex-wrap: nowrap;
        gap: 16px;
    }
    .documents .wrapper .card {
        width: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .documents .wrapper .card .description {
        padding: 16px;
    }
    .documents .wrapper .card .description h4 {
        font-size: 18px;
        line-height: 22px; 
    }
    .documents .wrapper .card .description p {
        margin-top: 8px;
        font-size: 12px;
        line-height: 18px;
    }
    .documents .wrapper .card .description .whom-list, .documents .wrapper .card .description .whom-list .item {
        gap: 4px;
    }
    .documents .dots{
        position: absolute;
        bottom: 0px;
        left: 0;
        display: flex;
        justify-content: center;
    }
    .documents .dots li {
        width: 17px;
        height: 6px;
        background: var(--Light-outline);
        margin: 8px;
        border-radius: 20px;
        transition: 0.5s;
    }
    .documents .dots li.dots-item_active{
        width: 34px;
        background: var(--Blue-main);
    }
    .documents-dots {
        display: flex;
    }
}

@media screen and (max-width: 480px) {
    .documents .inner {
        height: 630px;
    }
    .documents .wrapper {
        bottom: 44px;
    }
}

@media screen and (max-width: 380px) {
    .documents .inner {
        height: 670px;
    }
    .documents .wrapper {
        bottom: 44px;
    }
}