.footer {
    margin-top: 80px;
    background: var(--Black);
}
.footer .inner {
    padding: 34px 0;
}
.footer .wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.footer .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .head .logo {
    display: flex;
}
.footer .head .nav .list {
    display: flex;
    gap: 34px;
}
.footer .nav .list {
    color: var(--Light-grey);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.footer .head .social-media {
    display: flex;
    align-items: center;
    gap: 24px;
}
.footer .head .social-media a {
    display: flex;
}

.footer .line {
    width: 100%;
    height: 1px;
    background: var(--white-opacity-10);
}
.footer .footer-navigation {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.footer .footer-navigation .block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 24px;
}
.footer .footer-navigation .block .navigation-card {
    width: 100%;
}
.footer .footer-navigation .block .navigation-card h4 {
    color: var(--White);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}
.footer .footer-navigation .block .navigation-card .navigation-list {
    margin-top: 8px;
}
.footer .footer-navigation .block .navigation-card .navigation-list .item {
    padding: 4px 0px;
    color: var(--Light-grey);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.footer .footer_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .footer_bottom .name, .policy {
    color: var(--Light-grey);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.footer .naw-two {
    display: none;
}

/* АДАПТИВ */
@media screen and (max-width: 960px) {
    .footer .head .nav {
        display: none;
    }
    .footer .naw-two .item {
        font-size: 14px;
        line-height: 22px; 
    }
    .footer .naw-two {
        display: block;
    }
    .footer .naw-two .list {
        display: flex;
        gap: 30px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .footer .footer-navigation .block {
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }
}
@media screen and (max-width: 690px) {
    .footer .inner {
        padding: 24px 0;
    }
    .footer .footer-navigation .block {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 615px) {
    .footer .naw-two .list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}
@media screen and (max-width: 580px) {
    .footer .footer_bottom {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
}
@media screen and (max-width: 480px) {
    .footer .footer-navigation .block {
        grid-template-columns: repeat(1, 1fr);
    }
}