.hero {
    margin-top: 62px;
    border-radius: 34px;
}
.hero .hero_content {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 34px 0px 0px 34px;
    background: linear-gradient(90deg, #F8F8F9 37.31%, rgba(248, 248, 249, 0.00) 157.84%);
}
.hero .content-description {
    width: 742px;
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
}
.hero .content-description .content-title {
    position: relative;
}
.hero .content-description .content-title svg {
    position: absolute;
    bottom: 58px;
    right: 10px;
}
.hero .content-description .content-title h2 {
    color: var(--Black);
    font-size: 80px;
    font-weight: 700;
    line-height: 88px;
}
.content-description .title2 {
    color: var(--Black);
    font-family: var(--main-font);
    font-size: 46px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}
.hero .content-description p {
    margin-top: 34px;
    color: var(--Dark-Grey);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.hero-form {
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}
.input {
    max-width: 419px;
    width: 100%;
    position: relative;
}
.hero-form .input span {
    display: flex;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}
.hero-form .input input {
    padding: 12px 14px 14px 44px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--Grey-light);
    color: var(--Black);
    font-size: 16px;
    font-family: var(--main-font);
    font-weight: 600;
    line-height: 28px;
    box-sizing: border-box;
}
.hero-form button {
    height: 56px;
    padding: 0px 37px;
    border-radius: 44px;
    background: var(--Blue-main);
    color: var(--White);
    font-size: 18px;
    font-family: var(--main-font);
    font-weight: 600;
    line-height: normal;
    transition: .3s ease;
}
.hero-form button:hover {
    opacity: 0.8;
}
.hero_bg-desc {
    display: block;
}
.hero_bg-mob {
    display: none;
}

/* HERO TWO */
.hero-two {
    margin-top: 62px;
}
.hero-two .hero_content {
    height: 540px;
    padding: 60px;
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 34px;
    background: var(--Lightest-grey);
    box-sizing: border-box;
}
.hero-two .hero_content .input {
    max-width: 320px;
}
.hero-two .hero_content .image {
    max-width: 620px;
    height: auto;
    border-radius: 0px 34px 34px 0px;
}
.hero-two .hero_content .image-certificate {
    margin-right: 108px;
    border-radius: 24px;
    box-shadow: 0px 3.54px 22.122px 0px rgba(168, 182, 194, 0.15);
}
.hero-two .content-description_certificate {
    max-width: 670px;
}
.hero-two .content-description_certificate .hero-two_icon {
    display: inline-block;
    padding: 8px 16px;
    margin-bottom: 16px;
    border-radius: 41px;
    background: var(--green-opacity-10, rgba(0, 162, 142, 0.10));
    color: var(--Green);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}
.hero-two .content-description .content-title h2 {
    color: var(--Black);
    font-family: var(--main-font);
    font-size: 58px;
    font-weight: 600;
    line-height: 64px;
}
.hero-two .content-description p {
    margin-top: 16px;
    color: var(--Dark-Grey);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.form_popup {
    background: rgb(13, 20, 45, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.form_popup.active {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.form_popup-block {
    max-width: 559px;
    background: var(--White);
    border-radius: 24px;
}
.form_popup-inner {
    position: relative;
    padding: 34px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.form_popup-inner .close-popup {
    padding: 8px;
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.form_popup-inner h3 {
    color: var(--Black);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.form-input {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.form-input .input-group label {
    color: var(--Black);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 4px;
}
.form-input .input-group .input-wrapper {
    border-radius: 8px;
    padding: 0 12px;
    border: 1px solid var(--Light-outline);
    display: flex;
    align-items: center;
}
.form-input .input-group .input-wrapper input {
    width: 100%;
    padding: 8px 0px 8px 12px;
    color: var(--Light-grey);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.form .checkbox-group {
    display: flex;
    align-items: center;
    gap: 8px;
}
.form .checkbox-group label {
    color: var(--Black);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.checkbox-group input[type="checkbox"] {
    width: 20px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 4px;
    border: 1px solid var(--Light-grey, #98A0AD);
}
.form button {
    width: 100%;
    height: 56px;
    border-radius: 44px;
    background: var(--Blue-main);
    color: var(--White);
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    transition: .3s ease;
}
.form button:hover {
    opacity: 0.8;
}

/* АДАПТИВ */
@media screen and (max-width: 1280px) {
    .hero {
        margin-top: 32px;
    }
    .hero .content-description {
        width: 600px;
    }
    .hero .content-description .content-title svg {
        width: 350px;
        bottom: 50px;
        right: 45px;
    }
    .hero .content-description .content-title h2 {
        font-size: 60px;
        line-height: 68px;
    }
    .hero .content-description p {
        font-size: 16px;
        line-height: 26px;
    }
    .hero-two .hero_content .image-certificate {
        margin-right: 60px;
    }
    .content-description .title2 {
        font-size: 44px;
        line-height: 48px;
    }
}
@media screen and (max-width: 1180px) {
    /* HERO TWO */
    .hero-two .hero_content {
        position: relative;
        align-items: start;
        z-index: 2;
    }
    .hero-two .hero_content .image {
        height: 440px;
        top: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
    .hero-two .hero_content {
        align-items: center;
        padding: 40px;
        height: 440px;
    }
    .hero-two .content-description {
        max-width: 450px;
    }
    .hero-two .content-description .content-title h2 {
        font-size: 42px;
        line-height: 46px;
    }
    .hero-two .hero_content .image-certificate {
        height: 100%;
        margin-right: 40px;
    }
    .hero-two .hero-form {
        margin-top: 24px;
    }
    .content-description .title2 {
        font-size: 34px;
        line-height: 44px;
    }
}
@media screen and (max-width: 1100px) {
    .hero .content-description {
        width: 500px;
    }
    .hero .content-description .content-title svg {
        width: 280px;
        bottom: 40px;
        right: 40px;
    }
    .hero .content-description .content-title h2 {
        font-size: 50px;
        line-height: 58px;
    }
    .hero .content-description p {
        margin-top: 24px;
        font-size: 14px;
        line-height: 24px;
    }
    .input {
        max-width: 310px;
    }
    .hero-form .input span {
        left: 12px;
    }
    .hero-form .input input {
        padding: 10px 12px 12px 42px;
        font-size: 14px;
    }
    .hero-form button {
        padding: 14px 24px;
        font-size: 16px;
    }
}

@media screen and (max-width: 1000px) {
    .hero-form button {
        height: 52px;
        padding: 10px 40px;
        font-size: 12px;
        line-height: 16px;
    }

    /* HERO TWO */
    .hero-two .content-description {
        max-width: 400px;
    }
}

@media screen and (max-width: 880px) {
    .hero .content-description {
        width: 420px;
        left: 50px;
    }
    .hero .content-description .content-title svg {
        width: 240px;
        bottom: 30px;
        right: 30px;
    }
    .hero .content-description .content-title h2 {
        font-size: 42px;
        line-height: 50px;
    }
    .hero .content-description p {
        margin-top: 24px;
        font-size: 14px;
        line-height: 24px;
    }
    .hero-form {
        margin-top: 20px;
    }
    .hero .hero-form .input input {
        padding: 8px 12px 8px 42px;
        font-size: 12px;
        line-height: 18px;
    }
    .hero .hero-form button {
        height: auto;
    }

    /* HERO TWO */
    .hero-two .hero_content {
        padding: 24px;
    }
    .hero-two .hero_content {
        height: auto;
        flex-direction: column-reverse;
        align-items: center;
        border-radius: 24px;
    }
    .hero-two .hero_content .image {
        width: 100%;
        height: auto;
        border-radius: 24px;
        position: unset;
    }
    .hero-two .hero_content .image-certificate {
        margin-right: 0;
    }
    .hero-two .content-description {
        max-width: 600px;
        padding: 34px 24px;
    }
    .hero-two .hero-form {
        width: 100%;
    }
}

@media screen and (max-width: 680px) {
    .hero .content-description {
        width: 400px;
        left: 30px;
    }
    .hero .content-description .content-title svg {
        width: 230px;
        bottom: 30px;
        right: 30px;
    }
    .hero .content-description .content-title h2 {
        font-size: 40px;
        line-height: 48px;
    }
    .hero .content-description p {
        margin-top: 16px;
        font-size: 12px;
        line-height: 22px;
    }
    .hero-form {
        margin-top: 18px;
    }
    .input {
        max-width: 220px;
    }
    .hero-form button {
        height: auto;
    }
    .content-description .title2 {
        font-size: 28px;
        line-height: 34px;
    }
}

@media screen and (max-width: 580px) {
    .hero .hero_content {
        flex-direction: column-reverse;
    }
    .hero_bg-desc {
        display: none;
    }
    .hero_bg-mob {
        display: block;
        border-radius: 34px;
    }
    .hero .content-description {
        width: 100%;
        padding: 24px 16px 34px 16px;
        left: auto;
        top: auto;
        position: relative;
        transform: none;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .hero .content-description .content-title svg {
        width: 180px;
        bottom: 30px;
        left: 50px;
    }
    .hero .content-description .content-title h2 {
        width: 380px;
        font-size: 32px;
        line-height: 46px;
        text-align: center;
    }
    .hero .content-description p {
        width: 380px;
        margin-top: 16px;
        line-height: 18px;
        text-align: center;
    }
    .hero-form {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        align-items: normal;
    }
    .input {
        width: 380px;
    }
    .hero-form .input input {
        width: 380px;
        padding: 12px 28px 12px 44px;
        font-size: 16px;
        line-height: 28px;
        box-sizing: border-box;
    }
    .hero-form button {
        width: 380px;
        height: 54px;
        padding: 12px;
        font-size: 18px;
        line-height: normal;
    }

    /* HERO TWO */
    .hero-two .hero_content {
        padding: 0;
    }
    .hero-two .content-description {
        padding: 24px 16px;
    }
    .hero-two .content-description .content-title h2 {
        font-size: 32px;
        font-weight: 700;
        line-height: 36px
    }
    .hero-two .content-description p {
        margin-top: 12px;
    }
    .hero-two .hero_content .input {
        width: 380px;
    }
    .hero-two .hero_content .image {
        border-radius: 24px 24px 0 0;
    }
    .hero-two .hero_content-certificate {
        padding: 24px 16px 0;
    }
}

@media screen and (max-width: 480px) {
    .hero-two .hero_content .image-certificate {
        width: 100%;
        height: auto;
    }
    .hero-two .content-description_certificate {
        padding: 24px 16px;
    }
    .hero-two .content-description {
        max-width: 375px;
    }
    .content-description .title2 {
        font-size: 26px;
        font-weight: 700;
        line-height: 28px;
    }
}

@media screen and (max-width: 420px) {
    .hero .content-description .content-title svg {
        width: 180px;
        bottom: 30px;
        left: 125px;
    }
    .hero .content-description .content-title h2 {
        width: 320px;
    }
    .hero .content-description p {
        width: 320px;
    }
    .input {
        width: 320px;
    }
    .hero-form .input input {
        width: 320px;
    }
    .hero-form button {
        width: 320px;
    }
}

@media screen and (max-width: 420px) {
    .hero .content-description .content-title svg {
        width: 180px;
        bottom: 30px;
        left: 125px;
    }
    .hero .content-description .content-title h2 {
        width: 300px;
    }
    .hero .content-description p {
        width: 300px;
    }
    .input {
        width: 300px;
    }
    .hero-form .input input {
        width: 300px;
    }
    .hero-form button {
        width: 300px;
    }
}