<<<<<<< HEAD
.hero-about .hero-about_head {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
.hero-about .hero-about_head .big-title {
    text-align: start;
}
.hero-about .hero-about_head .text-description {
    color: var(--Dark-Grey);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 630px;
}
.hero-about .hero-about_image {
    width: 100%;
    margin-top: 80px;
    border-radius: 34px;
}
@media screen and (max-width: 1280px) {
    .hero-about .hero-about_head {
        gap: 40px;
    }
    .hero-about .hero-about_head .text-description {
        max-width: 500px;
    }
}
@media screen and (max-width: 1180px) {
    .hero-about .hero-about_head {
        gap: 40px;
    }
    .hero-about .hero-about_head .text-description {
        max-width: 400px;
        font-size: 15px;
        line-height: 18px;
    }
}
@media screen and (max-width: 930px) {
    .hero-about .hero-about_head {
        flex-direction: column;
        gap: 24px;
    }
    .hero-about .hero-about_head .text-description {
        max-width: 100%;
    }
}
@media screen and (max-width: 760px) {
    .hero-about .hero-about_image {
        margin-top: 40px;
    }
    .hero-about .hero-about_head .text-description {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }
}
@media screen and (max-width: 580px) {
    .hero-about .hero-about_head {
        gap: 16px;
    }
}
@media screen and (max-width: 480px) {
    .hero-about .hero-about_image {
        margin-top: 24px;
    }
=======
.hero-about .hero-about_head {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
.hero-about .hero-about_head .big-title {
    text-align: start;
}
.hero-about .hero-about_head .text-description {
    color: var(--Dark-Grey);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 630px;
}
.hero-about .hero-about_image {
    width: 100%;
    margin-top: 80px;
    border-radius: 34px;
}
@media screen and (max-width: 1280px) {
    .hero-about .hero-about_head {
        gap: 40px;
    }
    .hero-about .hero-about_head .text-description {
        max-width: 500px;
    }
}
@media screen and (max-width: 1180px) {
    .hero-about .hero-about_head {
        gap: 40px;
    }
    .hero-about .hero-about_head .text-description {
        max-width: 400px;
        font-size: 15px;
        line-height: 18px;
    }
}
@media screen and (max-width: 930px) {
    .hero-about .hero-about_head {
        flex-direction: column;
        gap: 24px;
    }
    .hero-about .hero-about_head .text-description {
        max-width: 100%;
    }
}
@media screen and (max-width: 760px) {
    .hero-about .hero-about_image {
        margin-top: 40px;
    }
    .hero-about .hero-about_head .text-description {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }
}
@media screen and (max-width: 580px) {
    .hero-about .hero-about_head {
        gap: 16px;
    }
}
@media screen and (max-width: 480px) {
    .hero-about .hero-about_image {
        margin-top: 24px;
    }
>>>>>>> 246bf18003014723a9ae2cdd0c266f7cd7de2674
}