.reviews .inner {
    overflow: hidden;
    position: relative;
    height: 700px;
    box-sizing: border-box;
}
.reviews .wrapper {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    gap: 30px;
    position: absolute;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    transition: .3s;
}

.reviews .card {
    width: 422px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 24px;
    background: var(--Lightest-grey);
}

.reviews .card-inner {
    padding: 34px;
    user-select: none;
}

.reviews .card .review-head {
    display: flex;
    align-items: center;
    gap: 12px;
}
.reviews .card .review-head .icon {
    width: 54px;
    height: 54px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reviews .card .review-head .name h4 {
    color: var(--Black);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}
.reviews .card .review-head .name p {
    color: var(--Dark-Grey);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.reviews .card .text {
    margin-top: 16px;
    color: var(--Black, #313545);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.review-head .icon.blue {
    background: var(--Blue-main);
}
.review-head .icon.green {
    background: var(--Green);
}
.review-head .icon.purple {
    background: var(--Purple);
}

.reviews .card .button p {
    color: var(--Blue-main);
    font-size: 14px;
    font-family: var(--main-font);
    font-weight: 600;
    line-height: normal;
}
.reviews .card .button svg {
    width: 16px;
    height: 16px;
    fill: var(--Blue-main);
}

.reviews-dots {
    bottom: 40px;
}
.dots li.reviews_dots-active {
    width: 34px;
    background: var(--Blue-main);
}
.button-reviews {
    padding: 12px 20px;
    margin: 0 auto;
    margin-top: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 44px;
    background: var(--Blue-main);
    color: var(--White);
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    transition: opacity .3s ease-in-out;
}
.button-reviews:hover {
    opacity: 0.9;
}

/* АДАПТИВ */
@media screen and (max-width: 999px) {
    .reviews .wrapper {
        margin-top: 32px;
    }
    .reviews-dots {
        bottom: 90px;
    }
}
@media screen and (max-width: 760px) {
    .reviews .wrapper {
        margin-top: 24px;
    }
    .reviews .card {
        width: 350px;
    }
    .reviews-dots {
        bottom: 40px;
    }
}

@media screen and (max-width: 480px) {
    .reviews .card {
        max-width: 340px;
        margin-left: 10px;
    }
}