<<<<<<< HEAD
.send-resume .wrapper {
    display: flex;
    justify-content: space-between;
    border-radius: 34px;
    background: var(--Blue-main);
}
.send-resume .wrapper .block-form {
    padding: 80px 30px 80px 60px;
}
.send-resume .wrapper .block-form .block-title {
    position: relative;
}
.send-resume .block-form .block-title h3 {
    color: var(--White);
}
.send-resume .block-form .block-title svg {
    position: absolute;
    right: 12px;
}
.send-resume .send-resume_img {
    border-radius: 0 34px 34px 0;
}
.send-resume .input-block {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.send-resume .block-form .email-tel {
    display: flex;
    gap: 16px;
}
.send-resume .input-block label {
    margin-bottom: 4px;
    color: var(--White);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}
.send-resume .input-block .input-wrapper {
    padding: 0 12px;
    border-radius: 8px;
    border: 1px solid var(--white-opacity-10);
}
.send-resume .input-block textarea {
    border-radius: 8px;
    border: 1px solid var(--white-opacity-10);
    padding: 12px;
    width: 100%;
    background: transparent;
    color: var(--White);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    box-sizing: border-box;
    resize: vertical;
}
.send-resume .input-block textarea::placeholder {
    color: var(--opacity-30-white);
    opacity: 1;
}
.send-resume .input-block .input-wrapper input, .send-resume .input-block .option-select, .send-resume .input-block .file-placeholder {
    padding: 11px 0;
    width: 100%;
    background: transparent;
    color: var(--White);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.send-resume .input-block .input-group {
    width: 100%;
}
.send-resume .input-block .input-group span, .send-resume .input-block .input-wrapper span {
    display: flex;
    color: var(--opacity-30-white);
}
.send-resume .input-block .checkbox-group {
    display: flex;
    align-items: center;
    gap: 4px;
}
.send-resume .input-block .checkbox-group label {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.send-resume .input-block .file .input-group .input-wrapper {
    border: 1px dashed var(--white-opacity-10);
}
.send-resume form .input-block .send-resume_btn {
    padding: 12px 14px;
    width: 100%;
    border-radius: 44px;
    background: var(--Lightest-grey);
    color: var(--Black);
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    transition: opacity .3s ease-in-out;
}
.send-resume form .input-block .send-resume_btn:hover {
    opacity: 0.9;
}
.send-resume form .file input[type="file"] {
    display: none;
}
.send-resume form  .file .input-wrapper{
    cursor: pointer;
}

.send-resume form input::placeholder {
    color: var(--opacity-30-white);
    opacity: 1;
}
.send-resume form .option-popup {
    position: relative;
}
.send-resume form .option-popup .input-wrapper {
    cursor: pointer;
}
.send-resume form .option-content {
    padding: 6px 0;
    border-radius: 8px;
    position: absolute;
    top: 120%;
    right: 0;
    border: 1px solid var(--white-opacity-10);
    background: var(--Blue-main);
    display: none;
}
.send-resume form .option-content.active {
    display: block;
}
.send-resume form .option-content .item {
    padding: 8px 12px;
    color: var(--White);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    cursor: pointer;
    transition: color .1s;
    user-select: none;
}
.send-resume form .option-content .item:hover {
    color: var(--white-opacity-70);
}
/* АДАПТИВ */
@media screen and (max-width: 1360px) {
    .send-resume .wrapper .block-form {
        padding: 40px 20px 40px 40px;
    }
    .send-resume .send-resume_img {
        width: 550px;
    }
}
@media screen and (max-width: 1240px) {
    .send-resume .send-resume_img {
        width: 500px;
    }
}
@media screen and (max-width: 1180px) {
    .send-resume .wrapper .block-form .block-title {
        width: 415px;
        margin: 0 auto;
    }
    .send-resume .block-form .block-title svg {
        width: 170px;
        right: 0px;
    }
}
@media screen and (max-width: 1080px) {
    .send-resume .wrapper .block-form {
        padding: 30px 10px 30px 30px;
    }
    .send-resume .block-form .email-tel {
        flex-direction: column;
    }
}
@media screen and (max-width: 1000px) {
    .send-resume .wrapper .block-form .block-title {
        width: auto;
        margin: 0 auto;
    }
    .send-resume .block-form .block-title svg {
        width: 135px;
        right: 24px;
    }
    .send-resume .block-form .email-tel {
        flex-direction: column;
    }
}
@media screen and (max-width: 940px) {
    .send-resume .wrapper {
        flex-direction: column;
        box-sizing: border-box;
    }
    .send-resume .wrapper .block-form {
        padding: 30px;
    }
    .send-resume .block-form .email-tel {
        flex-direction: row;
    }
    .send-resume .send-resume_img {
        margin-top: 16px;
        width: 100%;
        border-radius: 0px 0px 34px 34px;
    }
    .send-resume .wrapper .block-form .block-title {
        width: 320px;
        margin: 0 auto;
    }
    .send-resume .block-form .block-title svg {
        width: 135px;
        right: 0px;
    }
}
@media screen and (max-width: 760px) {
    .send-resume .wrapper {
        flex-direction: column;
        box-sizing: border-box;
    }
    .send-resume .block-form .block-title svg {
        width: 120px;
        right: 10px;
    }
    .send-resume form .input-block .send-resume_btn {
        margin-top: 16px;
    }
    .send-resume .send-resume_img {
        margin-top: 0;
        width: 100%;
    }
    .send-resume .wrapper .block-form {
        padding: 40px;
    }
    .send-resume .wrapper .block-form .block-title {
        width: 300px;
        margin: 0 auto;
    }
    .send-resume .block-form .email-tel {
        flex-direction: row;
    }
}
@media screen and (max-width: 620px) {
    .send-resume .block-form .email-tel {
        flex-direction: column;
    }
}
@media screen and (max-width: 520px) {
    .send-resume .wrapper .block-form {
        padding: 34px 14px;
    }
}
@media screen and (max-width: 420px) {
    .send-resume .input-block .checkbox-group label {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }
}
@media screen and (max-width: 380px) {
    .send-resume .wrapper .block-form .block-title {
        width: 260px;
    }
    .send-resume .block-form .block-title svg {
        width: 110px;
        right: 0px;
    }
=======
.send-resume .wrapper {
    display: flex;
    justify-content: space-between;
    border-radius: 34px;
    background: var(--Blue-main);
}
.send-resume .wrapper .block-form {
    padding: 80px 30px 80px 60px;
}
.send-resume .wrapper .block-form .block-title {
    position: relative;
}
.send-resume .block-form .block-title h3 {
    color: var(--White);
}
.send-resume .block-form .block-title svg {
    position: absolute;
    right: 12px;
}
.send-resume .send-resume_img {
    border-radius: 0 34px 34px 0;
}
.send-resume .input-block {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.send-resume .block-form .email-tel {
    display: flex;
    gap: 16px;
}
.send-resume .input-block label {
    margin-bottom: 4px;
    color: var(--White);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}
.send-resume .input-block .input-wrapper {
    padding: 0 12px;
    border-radius: 8px;
    border: 1px solid var(--white-opacity-10);
}
.send-resume .input-block textarea {
    border-radius: 8px;
    border: 1px solid var(--white-opacity-10);
    padding: 12px;
    width: 100%;
    background: transparent;
    color: var(--White);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    box-sizing: border-box;
    resize: vertical;
}
.send-resume .input-block textarea::placeholder {
    color: var(--opacity-30-white);
    opacity: 1;
}
.send-resume .input-block .input-wrapper input, .send-resume .input-block .option-select, .send-resume .input-block .file-placeholder {
    padding: 11px 0;
    width: 100%;
    background: transparent;
    color: var(--White);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.send-resume .input-block .input-group {
    width: 100%;
}
.send-resume .input-block .input-group span, .send-resume .input-block .input-wrapper span {
    display: flex;
    color: var(--opacity-30-white);
}
.send-resume .input-block .checkbox-group {
    display: flex;
    align-items: center;
    gap: 4px;
}
.send-resume .input-block .checkbox-group label {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.send-resume .input-block .file .input-group .input-wrapper {
    border: 1px dashed var(--white-opacity-10);
}
.send-resume form .input-block .send-resume_btn {
    padding: 12px 14px;
    width: 100%;
    border-radius: 44px;
    background: var(--Lightest-grey);
    color: var(--Black);
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    transition: opacity .3s ease-in-out;
}
.send-resume form .input-block .send-resume_btn:hover {
    opacity: 0.9;
}
.send-resume form .file input[type="file"] {
    display: none;
}
.send-resume form  .file .input-wrapper{
    cursor: pointer;
}

.send-resume form input::placeholder {
    color: var(--opacity-30-white);
    opacity: 1;
}
.send-resume form .option-popup {
    position: relative;
}
.send-resume form .option-popup .input-wrapper {
    cursor: pointer;
}
.send-resume form .option-content {
    padding: 6px 0;
    border-radius: 8px;
    position: absolute;
    top: 120%;
    right: 0;
    border: 1px solid var(--white-opacity-10);
    background: var(--Blue-main);
    display: none;
}
.send-resume form .option-content.active {
    display: block;
}
.send-resume form .option-content .item {
    padding: 8px 12px;
    color: var(--White);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    cursor: pointer;
    transition: color .1s;
    user-select: none;
}
.send-resume form .option-content .item:hover {
    color: var(--white-opacity-70);
}
/* АДАПТИВ */
@media screen and (max-width: 1360px) {
    .send-resume .wrapper .block-form {
        padding: 40px 20px 40px 40px;
    }
    .send-resume .send-resume_img {
        width: 550px;
    }
}
@media screen and (max-width: 1240px) {
    .send-resume .send-resume_img {
        width: 500px;
    }
}
@media screen and (max-width: 1180px) {
    .send-resume .wrapper .block-form .block-title {
        width: 415px;
        margin: 0 auto;
    }
    .send-resume .block-form .block-title svg {
        width: 170px;
        right: 0px;
    }
}
@media screen and (max-width: 1080px) {
    .send-resume .wrapper .block-form {
        padding: 30px 10px 30px 30px;
    }
    .send-resume .block-form .email-tel {
        flex-direction: column;
    }
}
@media screen and (max-width: 1000px) {
    .send-resume .wrapper .block-form .block-title {
        width: auto;
        margin: 0 auto;
    }
    .send-resume .block-form .block-title svg {
        width: 135px;
        right: 24px;
    }
    .send-resume .block-form .email-tel {
        flex-direction: column;
    }
}
@media screen and (max-width: 940px) {
    .send-resume .wrapper {
        flex-direction: column;
        box-sizing: border-box;
    }
    .send-resume .wrapper .block-form {
        padding: 30px;
    }
    .send-resume .block-form .email-tel {
        flex-direction: row;
    }
    .send-resume .send-resume_img {
        margin-top: 16px;
        width: 100%;
        border-radius: 0px 0px 34px 34px;
    }
    .send-resume .wrapper .block-form .block-title {
        width: 320px;
        margin: 0 auto;
    }
    .send-resume .block-form .block-title svg {
        width: 135px;
        right: 0px;
    }
}
@media screen and (max-width: 760px) {
    .send-resume .wrapper {
        flex-direction: column;
        box-sizing: border-box;
    }
    .send-resume .block-form .block-title svg {
        width: 120px;
        right: 10px;
    }
    .send-resume form .input-block .send-resume_btn {
        margin-top: 16px;
    }
    .send-resume .send-resume_img {
        margin-top: 0;
        width: 100%;
    }
    .send-resume .wrapper .block-form {
        padding: 40px;
    }
    .send-resume .wrapper .block-form .block-title {
        width: 300px;
        margin: 0 auto;
    }
    .send-resume .block-form .email-tel {
        flex-direction: row;
    }
}
@media screen and (max-width: 620px) {
    .send-resume .block-form .email-tel {
        flex-direction: column;
    }
}
@media screen and (max-width: 520px) {
    .send-resume .wrapper .block-form {
        padding: 34px 14px;
    }
}
@media screen and (max-width: 420px) {
    .send-resume .input-block .checkbox-group label {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }
}
@media screen and (max-width: 380px) {
    .send-resume .wrapper .block-form .block-title {
        width: 260px;
    }
    .send-resume .block-form .block-title svg {
        width: 110px;
        right: 0px;
    }
>>>>>>> 246bf18003014723a9ae2cdd0c266f7cd7de2674
}