.services-industry .wrapper {
    margin-top: 64px;
    display: flex;
    /* align-items: center; */
    gap: 30px;
}

.services-industry .category-menu {
    width: 300px;
}
.services-industry .category-menu_list {
    width: 300px;
}
.services-industry .category-menu_list .item {
    padding: 22px 24px;
    border-radius: 16px;
}
.services-industry .category-menu_list .item {
    color: var(--Dark-Grey);
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    cursor: pointer;
}
.services-industry .category-menu_list .item:hover {
    background: var(--Lightest-grey);
    transition: .1s;
}
.services-industry .category-menu_list .item.select {
    color: var(--White);
    background: var(--Blue-main);
}

.services-industry .content-category {
    max-width: 994px;
    padding: 32px 44px 44px 44px;
    display: flex;
    flex-direction: column;
    gap: 34px;
    border-radius: 24px;
    background: var(--Lightest-grey);
    box-sizing: border-box;
}
.content-category .content-category_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-category .content-category_head h4 {
    color: var(--Black);
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}
.content-category .content-category_head .button {
    display: flex;
    align-items: center;
    gap: 8px;
    
    color: var(--Blue-main);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

.content-category .content-category_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.content-category_wrapper .card {
    width: 445px;
    padding: 22px 24px;
    display: flex;
    align-items: center;
    border-radius: 16px;
    border: 1.5px solid var(--Grey-outline);
    gap: 12px;
    box-sizing: border-box;
}
.content-category_wrapper .card p {
    color: var(--Black);
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
}
.content-category_wrapper .card span {
    display: flex;
}
.content-category .button {
    display: none;
}
@media screen and (max-width: 1375px) {
    .content-category .content-category_wrapper {
        gap: 12px;
    }
    .content-category_wrapper .card {
        width: 350px;
        padding: 12px 14px;
        gap: 8px;
    }
    .services-industry .category-menu {
        width: 250px;
    }
    .services-industry .category-menu_list {
        width: 250px;
    }
    .services-industry .category-menu_list .item {
        padding: 14px 16px;
    }
}

@media screen and (max-width: 1185px) {
    .content-category_wrapper .card {
        width: 240px;
        padding: 10px 12px;
    }
    .content-category_wrapper .card p {
        font-size: 14px;
        line-height: 14px;
    }
    .services-industry .category-menu_list .item {
        padding: 14px 14px;
    }
}

@media screen and (max-width: 1100px) {
    .content-category .content-category_head .button {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .content-category_wrapper .card {
        width: 100%;
        padding: 12px 14px;

    }
    .content-category_wrapper .card p {
        font-size: 16px;
        line-height: 18px;
    }
}

@media screen and (max-width: 780px) {
    .content-category .content-category_wrapper {
        gap: 8px;
    }
    .services-industry .wrapper {
        margin-top: 24px;
        flex-direction: column;
        overflow: hidden;
    }
    .services-industry .category-menu {
        width: auto;
    }
    .services-industry .category-menu_list {
        width: auto;
    }
    .services-industry .category-menu_list {
        display: flex;
        overflow-x: auto;
    }
    .services-industry .category-menu_list .item {
        flex: 0 0 auto;
        padding: 12px 10px;
        font-size: 12px;
        font-weight: 600;
        line-height: normal;
    }
    .services-industry .category-menu_list .item:last-child {
        margin-right: 0;
    }
    .content-category .content-category_head h4 {
        font-size: 18px;
        line-height: 22px;
    }
    .services-industry .content-category {
        padding: 24px 16px;
        gap: 16px;
    }
    .content-category_wrapper .card {
        width: 311px;
        padding: 10px 12px;
        gap: 8px;
    }
    .content-category_wrapper .card p {
        font-size: 14px;
        line-height: 22px;
    }
    .content-category_wrapper .card svg {
        width: 18px;
        height: 18px;
    }
    .content-category .content-category_wrapper {
        flex-wrap: wrap;
    }

    .content-category .button {
        display: flex;
        justify-content: center;
        color: var(--Blue-main);
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
    }
    .content-category .button a {
        display: flex;
        align-items: center;
        gap: 6px;
    }
}