.types-certificates .wrapper {
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.types-certificates .wrapper-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 24px;
}
.types-certificates .wrapper-content .card {
    padding: 16px;
    width: 100%;
    border-radius: 16px;
    background: var(--Lightest-grey);
    box-sizing: border-box;
    display: flex;
}
.types-certificates .wrapper-content .card.hidden {
    display: none;
}
.types-certificates .wrapper-content .card a {
    display: flex;
    gap: 8px;
}
.types-certificates .wrapper-content .card p {
    color: var(--Black);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}
.types-certificates .wrapper .button {
    padding: 14px 28px;
    height: 56px;
    border-radius: 44px;
    background: var(--Blue-main);
    color: var(--White, #FFF);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    transition: opacity .3s ease-in-out;
}
.types-certificates .wrapper .button:hover {
    opacity: 0.9;
}
.types-certificates .wrapper .button.active {
    width: 280px;
    border: 1.5px solid var(--Blue-main);
    background: none;
    justify-content: center;
    color: var(--Blue-main);
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: .3s ease-in-out;
}
.types-certificates .wrapper .button.active:hover {
    background: var(--Blue-main);
    color: var(--White);
}

/* АДАПТИВ */
@media screen and (max-width: 1500px) {
    .types-certificates .sort-list .item .sort-content {
        left: -120px;
    }
}
@media screen and (max-width: 1380px) {
    .types-certificates .wrapper-content .card {
        padding: 16px;
    }
    .types-certificates .wrapper-content {
        gap: 18px;
    }
}
@media screen and (max-width: 999px) {
    .types-certificates .wrapper-content {
        grid-template-columns: repeat(2, 1fr);
    }
    .types-certificates .wrapper-content {
        gap: 12px;
    }
}
@media screen and (max-width: 760px) {
    .types-certificates .wrapper {
        margin-top: 24px;
    }
    .types-certificates .wrapper-content .card {
        padding: 12px;
    }
}
@media screen and (max-width: 690px) {
    .types-certificates .wrapper-content {
        gap: 12px;
    }
    .types-certificates .sort-list .item .sort-content {
        left: -20px;
    }
}
@media screen and (max-width: 620px) {
    .types-certificates .wrapper-content {
        gap: 8px;
    }
    .types-certificates .wrapper .button, .types-certificates .wrapper .button.active {
        height: 44px;
    }
}
@media screen and (max-width: 520px) {
    .types-certificates .wrapper-content {
        grid-template-columns: repeat(1, 1fr);
    }
    .types-certificates .sort-list .item .sort-content_two {
        left: -120px;
    }
}

@media screen and (max-width: 480px) {
    .types-certificates .wrapper .button, .types-certificates .wrapper .button.active {
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 375px) {
    .types-certificates .sort-list .item .sort-content {
        left: 40px;
    }
    .types-certificates .sort-list .item .sort-content_two {
        left: -140px;
    }
}