.work-us .wrapper {
    padding: 120px 80px;
    border-radius: 34px;
    background: var(--Lightest-grey);
}
.work-us .list-stages {
    padding-top: 64px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.work-us .list-stages .item {
    width: 280px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.work-us .list-stages .line {
    position: relative;
    flex-grow: 1;
}
.work-us .list-stages .line::before {
    content: "";
    width: 143px;
    height: 4px;
    position: absolute;
    top: -35px;
    left: 50%;
    background: var(--Grey-outline);
    border-radius: 12px;
    transform: translateX(-50%);
}

.work-us .list-stages .item .name {
    margin-top: 14px;
    text-align: center;
    color: var(--Black);
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}

@media screen and (max-width: 1300px) {
    .work-us .wrapper {
        padding: 100px 60px;
    }
    .work-us .list-stages {
        gap: 24px;
    }
    .work-us .list-stages .item .name {
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
    }
    .work-us .list-stages .line::before {
        content: "";
        width: 123px;
    }
}

@media screen and (max-width: 1000px) {
    .work-us .wrapper {
        padding: 60px 40px;
    }
    .work-us .list-stages {
        gap: 24px;
    }
    .work-us .list-stages .item .name {
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
    }
    .work-us .list-stages .line::before {
        content: "";
        top: -40px;
        width: 100px;
    }
    .work-us .list-stages {
        padding-top: 40px;
    }
}

@media screen and (max-width: 780px) {
    .work-us .wrapper {
        padding: 34px 16px;
    }
    .work-us .list-stages {
        padding-top: 34px;
        flex-direction: column;
        align-items: start;
        gap: 24px;
    }
    .work-us .list-stages .item {
        width: 100%;
        flex-direction: row;
        gap: 24px;
    }
    .work-us .list-stages .item .name {
        text-align: start;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
    }
    .work-us .list-stages .line::before {
        content: "";
        width: 2px;
        height: 32px;
        top: 50%;
        left: 26px;
        transform: translateY(-50%);
    }
}

@media screen and (max-width: 460px) {
    .work-us .list-stages .line::before {
        content: "";
        width: 2px;
        height: 32px;
        top: 50%;
        left: 22px;
        transform: translateY(-50%);
    }
}

@media screen and (max-width: 400px) {
    .work-us .list-stages .line::before {
        content: "";
        width: 2px;
        height: 32px;
        top: 50%;
        left: 18px;
        transform: translateY(-50%);
    }
}

@media screen and (max-width: 340px) {
    .work-us .list-stages .line::before {
        content: "";
        width: 2px;
        height: 52px;
        top: 50%;
        left: 14px;
        transform: translateY(-50%);
    }
}